{% extends 'base.html' %}

{% block title %}
Add Course
{% endblock %}

{% block content %}

<div class="bg-primary min-vh-100 d-flex justify-content-center align-items-center">

    <div class="card shadow p-5" style="width: 500px; border-radius: 20px;">

        <h1 class="text-center mb-5">
            Add Course
        </h1>

        <form method="POST" action="{% url 'add_coursedb' %}">

            {% csrf_token %}

            <div class="mb-4">
                <input type="text" name="course" class="form-control form-control-lg"  placeholder="Enter Course" required>
            </div>

            <div class="mb-4">
                <input type="number" name="fee" class="form-control form-control-lg" placeholder="Enter Course Fee" required>
            </div>

            <button type="submit"
                    class="btn btn-primary btn-lg w-100">
                Submit
            </button>

        </form>

    </div>

</div>

{% endblock %}